<div class="posts-container">
  <h1>投稿一覧</h1>
  <div class="new-btn">
    <button type="button" class="btn new btn-secondary" onclick="location.href='/posts/new'">新規投稿</button>
  </div>
  <div class="items">
    <% @posts.each do |post| %>
      <div class="item">
        <div class="item-image">
          <%= image_tag post.image, size: '200x200' %>
        </div>
        <div class="item-body">
          <div class="item-title">
            <p class="item-label">タイトル</p>
            <h3><%= post.title %></h3>
          </div>
          <div class="item-comment">
            <p class="item-label">コメント</p>
            <h3><%= post.comment %></h3>
          </div>
          <div class="item-age">
            <p><%= post.user.age %>歳</p>
          </div>
          <div class="item-show">
            <%= link_to "詳細をみる", "/posts/#{post.id}" %>
          </div>
          <div class="favolite-count">
            応援された件数: <%= post.favolites.count %>
          </div>
          <div class="favolite">
          <% if user_signed_in? %>
            <% if current_user.already_favolited?(post) %>
              <%= button_to '応援を取り消す', post_favolite_path(post.id, current_user.id), method: :delete %>
            <% else %>
              <%= button_to '応援！', post_favolites_path(post.id, current_user.id) %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>