<!DOCTYPE html>
<html>
  <head>
    <title>DreamApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to "Top","/" %>
      </div>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to "dreams", "#" %>
          </li>
          <li>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          </li>
          <li>
          <%# URLはshowにする %>
            <%= link_to "ようこそ#{current_user.name}さん", "#" %>
          </li>
        <% else %>
          <li>
            <%= link_to "dreams", "#" %>
          </li>
          <li>
            <%= link_to "login", new_user_session_path %>
          </li>
          <li>
            <%= link_to "signup", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
